{% extends "app/base.html" %}

{% block navbar %}
    {% include "app/dashboard/top-menu.html" %}
{% endblock navbar %}

{% load staticfiles %}
{% block extraCss %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap-table/bootstrap-table.min.css' %}" />
{% endblock extraCss %}

{% block content %}
<div class="container body-content " id="main">
    {% block breadcrumb %}
    <ol class="breadcrumb" aria-label="breadcrumb">
        <li>
            <a href="{% url 'dashboard_form' %}" class="custom-inactive-breadcrumb" title="Home page">
                <span class="fa fa-home"></span> Home
            </a>
        </li>
        <li class="active"> {{title}}</li>
    </ol>
    {% endblock breadcrumb %}

    <div class="iam-form" >
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" >
            <section role="region" style="margin-bottom:10%">
                <h3 class="" role="heading">
                    <span class="padding-left-20">{{title}}</span>
                </h3>
                <hr>
                <div>
                    <table id="authorized_apps"
                            data-classes="table table-hover"
                            data-search="true"  
                            data-show-toggle="false"
                            data-show-columns="true"
                            data-card-view="false"
                            data-click-to-select="false"
                            data-toolbar="#custom-toolbar"
                            data-pagination="true"
                            data-page-list="[5, 10, 15, 20, 30]"
                            data-sort-name="display_name" data-sort-order="asc">
                        <thead>
                        <tr class="active">
                            <th data-field="display_name" data-sortable="true" data-switchable="false" data-align="center">Application</th>
                            <th data-field="id" data-sortable="false" data-switchable="false" data-align="center">Access token</th>
                            <th data-field="scopes" data-sortable="true" data-align="center">Scope</th>
                            <th data-field="expireTime" data-sortable="true" data-align="center">Expiry Date</th>
                            <th data-field="revoke_access" data-sortable="false" data-align="center" >Revoke Access</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'app/scripts/bootstrap-table/dist/bootstrap-table.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/iam.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/cookies.js' %}"></script>
<script type="text/javascript">$(document).ready(function () { IAM.authenticatedApps("{% url 'private_api:access_tokens_url' %}"); });</script>
{% endblock %}